@import url("./style.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

header > ul li a{
    text-decoration: none;
    color: var(--text-primary);
    transition: 0.3s;
}

header > ul li a:hover{
    text-decoration: none;
    color: var(--primary);
    width: 40%;
}

