@import url("./actions.css");
@import url("./animation.css");
@import url("./win/min.css");
@import url("./win/max.css");

@import url("./vrvs.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: var(--bg-primary) ;
}

h1, h2, h3{
    
    color: var(--text-primary);

}


p.text-two{
    color: var(--text-secondary);
    text-align: justify;

}

button.opc{
    color: white;
    background-color: transparent;
}

#sbscb{
    background-color: var(--primary);
    color: white;
}

#second .container-text h2{
        /* border: 1px solid white; */
        color:var(--text-primary);
}
#second .container-text h3 span{
        color: var(--primary);
}


#ap >h4{
    /* border: 1px solid yellow; */
    color: var(--primary);
}


#ap > figcaption{
    /* border: 1px solid yellow; */
    color: var(--text-secondary);
}
#ap>figcaption>a{
    color: var(--text-primary);
}
#thre > #kids{
     background-color: var(--bg-secondary);
}


#kids> h4{
     color: var(--primary);

}


#kids figcaption{
    color: var(--text-secondary);

   
}

#kids > figcaption >  a{
        color: var(--text-primary);
}




#for > .opcs_for{
   
    background-color:var(--bg-secondary);
    color: var(--primary);
}




footer{
    border: 1px solid white;
   

}
















