@import url("./actions.css");
@import url("./animation.css");
@import url("./win/min.css");
@import url("./vrvs.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: var(--bg-primary) ;
}

h1, h2, h3{
    
    color: var(--text-primary);

}


p.text-two{
    color: var(--text-secondary);
    text-align: justify;

}

button.opc{
    color: white;
    background-color: transparent;
}

#sbscb{
    background-color: var(--primary);
    color: white;
}





footer{
    border: 1px solid white;
   

}
















