@import url("./animation.css");
:root{

    /* --red-dps: #FF4D6D; */
    /* --red-black: #B91C1C; */

    --primary: #FF2E63;
    --secondary: #1F1F1F;
    
    --bg-primary: #000000;
    --bg-secondary: #1A1A1A;

    
    --text-shadow: 0 0 5px #FF2E63,
               0 0 10px #FF2E63,
               0 0 20px #FF2E63; ;
    --text-primary: #FFFFFF; 
    --text-secondary: #E5E5E5; /* Cinza Médio */
    --entrada-vertical: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
    --saida-vertical: /* -webkit-animation: scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
 scale-out-vertical 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}